#MetadataCheck .title {
    margin-bottom: 15px!important;
}

#MetadataCheck .subtitle {
    font-size: 1em;
    margin-bottom: 30px;
}

#MetadataCheck .main {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

#MetadataCheck input.metadata {
    width: 70%;
}

#MetadataCheck .code {
    margin-top: 20px;
}

#MetadataCheck button {
    margin: 5px!important; 
}

#MetadataCheck .testset {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

#MetadataCheck .test-success {
    display: block;
    float: left;
    width: 50px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: green;
    color: #fff!important;
    font-size: 11px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
}

#MetadataCheck .test-success-self {
    display: block;
    float: left;
    width: 50px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: #006000;
    color: #fff!important;
    font-size: 11px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
}

#MetadataCheck .test-warning {
    display: block;
    float: left;
    width: 50px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: orange;
    color: #000!important;
    font-size: 11px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
}

#MetadataCheck .test-fail {
    display: block;
    float: left;
    width: 50px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: red;
    color: #fff!important;
    font-size: 11px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
}

#MetadataCheck .detail-table {
    border:1px solid #999;
    width: 100%;
}

#MetadataCheck .detail-table th, #MetadataCheck .detail-table td {
    padding: 5px;
}

#MetadataCheck .detail-header {
    background: #DDDDDD;
}

#MetadataCheck .detail-row {
    border:1px solid #000;
    cursor: pointer;
}

#MetadataCheck .detail-row:hover {
    background: #EEEEEE;
}

#MetadataCheck .detail-num {
    width: 50px;
}

#MetadataCheck .detail-result {
    width: 100px;
}

#MetadataCheck .test-success-dm {
    background: green!important;
    color: #FFFFFF;
    font-weight: bold;
}

#MetadataCheck .test-success-self-dm {
    background-color: #006000!important;
    color: #fff;
    font-weight: bold;
}

#MetadataCheck .test-warning-dm {
    background: orange!important;
    color: #000000;
    font-weight: bold;
}

#MetadataCheck .test-fail-dm {
    background: red!important;
    color: #FFFFFF;
    font-weight: bold;
}

#MetadataCheck .tools {
    padding: 30px 20px;
    background: #FFFFFF;
}

#MetadataCheck .first-upper {
    text-transform:capitalize;
}

#MetadataCheck .align-super {
    vertical-align: super;
}

@media print {
    #MetadataCheck .tools {
        display: none;
    }
}
